.registerPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;

  figure{
    width: 50%;
  }

  .containerRegister {
    width: 30%;
    height: 100vh;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    figure {
      width: 250px;
      margin-bottom: 24px;
    }

    form {
      width: 260px;
      display: flex;
      flex-direction: column;
      a{
        text-decoration: none;
        cursor: pointer;
        color: #FEBD59;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}