.contentModal {
  padding-right: 50px;

  h1 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 60px;
  }

  div {
    button {
      width: 160px;

      &:last-child {
        margin-left: 24px;
      }
    }
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
