.loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;

  .background{
    width: 50%;
  }

  .containerLogin {
    width: 50%;
    height: 100vh;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    figure {
      width: 250px;
      margin-bottom: 24px;
    }

    form {
      display: flex;
      flex-direction: column;

      .more {
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-top: 20px;
        a {
          color: #FEBD59;
          text-decoration: none;

          &:hover {
            color: #D4C326;
            transition: .3s ease-in-out;
          }
        }
        span { 
          color: #FEBD59;
          font-weight: bold;
        }
      }

      .buttonModal {
        border: none;
        background-color: transparent;
        outline: none;
        color: #FEBD59;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}


.contentModal{
  h1 {
    color: #000;
    margin-bottom: 24px;
  }

  p{
    margin-bottom: 24px;
  }

  form {
    display: flex;
    
    > div {
      width: 320px;
      margin-right: 16px;
    }

    button {
      width: 160px;
    } 
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .loginPage {
    .background {
      display: none !important;
    }
  }
  .containerLogin {
    width: 100% !important;
  }
}